/* DeleteUser.module.css */
.deleteUser {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.deletedUser{
    font-size: 24px;
    font-weight: 600;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    color: #ffd500;
    background: #ffeabf61;
    border: 1px solid #ffd500;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.confirmationText {
    margin-bottom: 16px;
}

.deleteButton {
    background-color: #dc3545;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #c82333;
}
