/* UserDetails.module.css */
.userDetailsContainer {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.userCard {
    border: 1px solid #3498db;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
}

.userCard:hover {
    transform: scale(1.02);
}

.userInfo {
    margin-bottom: 15px;
}

.editButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.editButton:hover {
    background-color: #2c3e50;
}
